<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>zBlog</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/blogs.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <a class="navbar-brand">zBlog</a>
        <li class="nav-item active">
            <a id="index" class="nav-link" href="javascript:void(0)">首页</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3" id="zblog-content">

        </div>
        <div class="col-3" id="zblog-category">

        </div>
    </div>
</div>
</body>
<script src="../../3rd/jquery-3.2.1.min.js" type="application/javascript"></script>
<!--<script src="../../3rd/popper.js" type="application/javascript"></script>-->
<script src="../../3rd/bootstrap.js" type="application/javascript"></script>
<script src="../../3rd/sea-debug.js"></script>
<script src="../../3rd/seajs-text-debug.js"></script>
<script src="../../3rd/editormd/lib/raphael.min.js"></script>
<script typeditormd.jse="application/javascript">
    seajs.config({
        base: "./",
        alias:{
            blog: "../../js/zblog/blogController"
        }
    });
    var deps = [
        "blog"
    ];
    seajs.use(deps, function (blogsCtrl) {
        $(function () {
            blogsCtrl.refreshBlogs();
        });


    });
</script>
</html>